.table1{
    background-color: gold;
    border-collapse: collapse;
    width: 40%;
    height: 500px;
    margin: auto;
}

.nhom1:nth-child(odd){
    background-color: black;
}
.nhom1:nth-child(even){
    background-color: #dddddd;
}
.nhom2:nth-child(even){
    background-color: black;
}
.nhom2:nth-child(odd){
    background-color: #dddddd;
}
.tieude  {
    margin: auto;
    text-align: center;
    color: blue;
}
th{
    background-color: yellow;
    border: 1px solid white;
    color: white;
}
.table2 {
    background-color: wheat;
    border-collapse: collapse;
    width: 40%;
    height: 500px;
    margin: auto;
    border: 0px solid black;
    text-align: center;
    font-size: 30px;
}
.nhom3{
    border: 4px solid gray;
    background-color: white;
}
.sun {
    color: red;
}
.sat {
    color: blue;
    border: 0px;
}
.cn {
    background-color: red;
}
.t7 {
    background-color: blue;
}
.thu{
    background-color: white;
    border: 0px;
}
.ngayam {
}